<section class="wrapper">
  <div class="container">
    <div class="row text-center mb-5">
      <div class="col">
        <h1 class="display-4 font-weight-bolder text-white">Case Studies</h1>
        <p class="lead text-light">Showcasing Our Expertise</p>
      </div>
    </div>
    <div class="row">
      <!-- Card 1 -->
      <div class="col-sm-12 col-md-6 col-lg-4 mb-4 card-wrapper">
        <a href="/top-article">
          <div
            class="card text-white card-has-bg click-col"
            style="background-image: url('../../assets/img/art1.jpg')"
          >
            <div class="card-img-overlay d-flex flex-column">
              <div class="card-body">
                <small class="card-meta mb-2">Thought Leadership</small>
                <h4 class="card-title mt-0">
                  <a class="text-white" href="/top-article"
                    >Web Development: Innovative Approaches</a
                  >
                </h4>
                <small
                  ><i class="far fa-clock"></i> Optimization of a Data
                  Processing Pipeline in a Financial Industry - October 15,
                  2023</small
                >
              </div>
              <div class="card-footer mt-auto">
                <div class="media align-items-center">
                  <img
                    class="mr-3 rounded-circle"
                    src="../../assets/img/Topface.jpeg"
                    alt="Author Image"
                  />
                  <div class="media-body">
                    <h6 class="my-0 text-white">Top Tijani</h6>
                    <small>Director of UI/UX</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <!-- Card 2 -->
      <div class="col-sm-12 col-md-6 col-lg-4 mb-4 card-wrapper">
        <a href="/baye-article">
          <div
            class="card text-white card-has-bg click-col"
            style="background-image: url('../../assets/img/bg3.jpg')"
          >
            <div class="card-img-overlay d-flex flex-column">
              <div class="card-body">
                <small class="card-meta mb-2">Tech Innovations</small>
                <h4 class="card-title mt-0">
                  <a class="text-white" href="/baye-article"
                    >Amazon Connect Contact Center Migration</a
                  >
                </h4>
                <small><i class="far fa-clock"></i> October 15, 2020</small>
              </div>
              <div class="card-footer mt-auto">
                <div class="media align-items-center">
                  <img
                    class="mr-3 rounded-circle"
                    src="../../assets/img/Topface.jpeg"
                    alt="Author Image"
                  />
                  <div class="media-body">
                    <h6 class="my-0 text-white">Baye Lam</h6>
                    <small>Software Engineer</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <!-- Card 3 -->
      <div class="col-sm-12 col-md-6 col-lg-4 mb-4 card-wrapper">
        <a href="/top-article">
          <div
            class="card text-white card-has-bg click-col"
            style="background-image: url('../../assets/img/bg1.jpg')"
          >
            <div class="card-img-overlay d-flex flex-column">
              <div class="card-body">
                <small class="card-meta mb-2">Thought Leadership</small>
                <h4 class="card-title mt-0">
                  <a class="text-white" href="/top-article"
                    >Web Development: Innovative Approaches</a
                  >
                </h4>
                <small
                  ><i class="far fa-clock"></i> Optimization of a Data
                  Processing Pipeline in a Financial Industry - October 15,
                  2023</small
                >
              </div>
              <div class="card-footer mt-auto">
                <div class="media align-items-center">
                  <img
                    class="mr-3 rounded-circle"
                    src="../../assets/img/Topface.jpeg"
                    alt="Author Image"
                  />
                  <div class="media-body">
                    <h6 class="my-0 text-white">Top Tijani</h6>
                    <small>Director of UI/UX</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
