<div class="container mt-3">
    <h1>Our resources</h1>
  
  @if(resources.length === 0){
    <div class="alert alert-info">
      No resource is available for now!
    </div>
  }
  @if(resources.length >= 0){
   <table class="table table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>AuthorRole</th>
          <th>Category</th>
          <th>Resource Content</th>
        </tr>
      </thead>
      <tbody>
        @for (resource of resources; track $index) {
          <tr>
            <td>{{ resource.title }}</td>
            <td>{{ resource.author }}</td>
            <td>{{ resource.authorRole }}</td>
            <td>{{ resource.category }}</td>
            <td>{{ resource.resourceContent }}</td>
          </tr>
        }
        
      </tbody>
    </table>
  }
   
  </div>
