<div class="container">
  <!-- About Section -->
  <div class="we-are-block" id="about-section">
    <div class="section-content">
      <div class="about-us-image">
        <img src="./assets/img/imgE.jpeg" alt="Lobby Image" />
      </div>
      <div class="about-us-info">
        <h2>{{ "ABOUT_US.TITLE" | translate }}</h2>
        <p>{{ "ABOUT_US.DESCRIPTION" | translate }}</p>
        <a href="about-us" title="{{ 'ABOUT_US.BUTTON_TITLE' | translate }}">
          {{ "ABOUT_US.BUTTON_TEXT" | translate }}
        </a>
      </div>
    </div>
  </div>
  <br /><br /><br />
  <!-- History Section -->
  <div class="we-are-block" id="history-section">
    <div class="section-content">
      <div class="history-image">
        <img src="./assets/img/imgA.jpeg" alt="Building Pic" />
      </div>
      <div class="history-info">
        <h2>{{ "HISTORY.TITLE" | translate }}</h2>
        <p>{{ "HISTORY.DESCRIPTION" | translate }}</p>
        <a href="about-us" title="{{ 'HISTORY.BUTTON_TITLE' | translate }}">
          {{ "HISTORY.BUTTON_TEXT" | translate }}
        </a>
      </div>
    </div>
  </div>
</div>
