<div class="wrapper">
  <div class="page-header page-header-small">
    <div
      class="page-header-image rellax-header"
      data-rellax-speed="-8"
      style="background-image: url('assets/img/imgD.jpeg')"
    ></div>
    <div class="container">
      <div class="content-center">
        <h1 class="title">{{ "COMPANY.TITLE" | translate }}</h1>
        <h5>{{ "COMPANY.SUBTITLE" | translate }}</h5>
        <div class="text-center">
          <a
            href="#pablo"
            class="btn btn-primary btn-icon btn-round"
            title="{{ 'SOCIAL.FACEBOOK' | translate }}"
          >
            <i class="fab fa-facebook-square"></i>
          </a>
          <a
            href="#pablo"
            class="btn btn-primary btn-icon btn-round"
            title="{{ 'SOCIAL.TWITTER' | translate }}"
          >
            <i class="fab fa-twitter"></i>
          </a>
          <a
            href="#pablo"
            class="btn btn-primary btn-icon btn-round"
            title="{{ 'SOCIAL.GOOGLE_PLUS' | translate }}"
          >
            <i class="fab fa-google-plus"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
