/* Responsive Logo Size */
.navbar-logo {
  width: 145px;
}

/* Responsive Adjustments */
@media (max-width: 992px) {
  .navbar-logo {
    width: 150px;
  }
  .nav-link {
    font-size: 0.9rem;
  }
  .social-icons {
    display: none; /* Hide social icons on small screens */
  }
}

@media (max-width: 768px) {
  .navbar-logo {
    width: 120px;
  }
  .nav-link {
    font-size: 0.85rem;
    padding: 0.5rem;
  }
}

@media (max-width: 576px) {
  .navbar-logo {
    width: 100px;
  }
  .nav-link {
    font-size: 0.8rem;
    padding: 0.4rem;
  }
}
