<app-nav *ngif="showNavBar"></app-nav>
<div class="cont" style="font-size: 16px">
  <head>
    <link
      id="u-theme-google-font"
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i"
    />
  </head>
  <section
    class="u-clearfix u-expanded-width-lg u-expanded-width-md u-expanded-width-xl u-image u-section-1"
    id="carousel_c23b"
  >
    <div
      class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1"
    >
      <div class="u-layout">
        <div class="u-layout-row">
          <div
            class="u-container-style u-image u-layout-cell u-left-cell u-size-30 u-image-1"
            data-image-width="5000"
            data-image-height="3220"
          >
            <div class="u-container-layout"></div>
          </div>
          <div
            class="u-container-style u-image u-layout-cell u-right-cell u-size-30 u-image-2"
          >
            <div class="u-container-layout">
              <div
                class="u-container-style u-expanded-width-xs u-group u-image u-opacity u-opacity-70 u-image-3"
              >
                <div class="u-container-layout u-container-layout-3"></div>
              </div>
              <div
                class="u-border-6 u-border-white u-container-style u-group u-group-2"
              >
                <div
                  class="u-container-layout u-valign-middle-md u-valign-middle-xl u-valign-middle-xs u-container-layout-4"
                >
                  <h1 class="u-text u-title u-text-1" style="color: whitesmoke">
                    {{ "FUTURE_TECH.TITLE" | translate }}
                  </h1>
                  <p
                    class="u-large-text u-text u-text-variant u-text-2"
                    style="color: whitesmoke"
                  >
                    {{ "FUTURE_TECH.DESCRIPTION" | translate }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="u-clearfix u-section-2" id="carousel_7661">
    <div class="u-clearfix u-sheet u-sheet-1" style="padding-left: 95px">
      <div
        class="u-clearfix u-expanded-width u-gutter-30 u-layout-wrap u-layout-wrap-1"
      >
        <div class="u-gutter-0 u-layout">
          <div class="u-layout-row">
            <div class="u-size-30">
              <div class="u-layout-col">
                <div
                  class="u-container-style u-layout-cell u-left-cell u-size-60 u-layout-cell-1"
                >
                  <div
                    class="u-container-layout u-valign-middle u-container-layout-1"
                  >
                    <h5 class="u-text u-text-1">
                      {{ "WHY_US.TITLE" | translate }}
                    </h5>
                    <h2 class="u-text u-text-2">
                      {{ "WHY_US.SUBTITLE" | translate }}
                    </h2>
                    <p class="u-text u-text-3">
                      {{ "WHY_US.DESCRIPTION_1" | translate }}
                      <br />{{ "WHY_US.DESCRIPTION_2" | translate }}
                    </p>
                    <p class="u-text u-text-4">
                      {{ "WHY_US.DESCRIPTION_3" | translate }}
                    </p>
                    <a
                      href="https://hrtimesblog.com/2016/11/18/can-robots-replace-hr/"
                      class="u-border-1 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-palette-1-base u-btn u-button-style u-text-black u-btn-1"
                      title="robots"
                      target="_blank"
                    >
                      {{ "WHY_US.BUTTON_TEXT" | translate }}
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-size-30">
              <div class="u-layout-col">
                <div
                  class="u-container-style u-image u-layout-cell u-right-cell u-size-30 u-image-1"
                >
                  <div class="u-container-layout"></div>
                </div>
                <div
                  class="u-container-style u-image u-layout-cell u-right-cell u-size-30 u-image-2"
                >
                  <div class="u-container-layout">
                    <div
                      class="u-shape u-shape-rectangle u-white u-shape-1"
                    ></div>
                    <div
                      class="u-palette-1-base u-shape u-shape-rectangle u-shape-2"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="referenceDiv">
    <section class="u-clearfix u-section-4" id="sec-418b">
      <div
        class="u-border-8 u-border-palette-1-base u-line u-line-horizontal u-line-1"
      ></div>
      <div
        class="custom-expanded u-clearfix u-gutter-30 u-layout-wrap u-layout-wrap-1"
      >
        <div class="u-gutter-0 u-layout">
          <div class="u-layout-row">
            <div
              class="u-container-style u-image u-layout-cell u-right-cell u-size-30 u-image-1"
            >
              <div class="u-container-layout"></div>
            </div>
            <div
              class="u-align-left u-container-align-left u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-2"
            >
              <div
                class="u-container-layout u-valign-middle u-container-layout-2"
              >
                <h5 class="u-text u-text-1">{{ "ABOUT.YEAR" | translate }}</h5>
                <h2 class="u-text u-text-2">{{ "ABOUT.TITLE" | translate }}</h2>
                <p class="u-text u-text-3">
                  {{ "ABOUT.DESCRIPTION_1" | translate }}
                </p>
                <p class="u-text u-text-4">
                  {{ "ABOUT.DESCRIPTION_2" | translate }}
                </p>
                <a
                  href="https://techcrunch.com/2017/11/18/canadian-grocery-chain-orders-25-tesla-electric-semi-trucks/"
                  class="u-border-1 u-border-palette-1-base u-btn u-button-style u-text-black u-btn-1"
                  title="robots"
                  target="_blank"
                  >{{ "ABOUT.BUTTON_TEXT" | translate }}</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="u-clearfix u-section-5" id="sec-2f6e">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div
          class="u-clearfix u-expanded-width-lg u-expanded-width-md u-expanded-width-xl u-expanded-width-xs u-gutter-30 u-layout-wrap u-layout-wrap-1"
        >
          <div class="u-layout">
            <div class="u-layout-row">
              <div
                class="u-container-style u-image u-layout-cell u-left-cell u-size-12 u-size-30-md u-image-1"
              >
                <div class="u-container-layout"></div>
              </div>
              <div
                class="u-container-style u-image u-layout-cell u-size-12 u-size-30-md u-image-2"
              >
                <div class="u-container-layout"></div>
              </div>
              <div
                class="u-container-style u-image u-layout-cell u-size-12 u-size-30-md u-image-3"
              >
                <div class="u-container-layout"></div>
              </div>
              <div
                class="u-container-style u-image u-layout-cell u-size-12 u-size-30-md u-image-4"
              >
                <div class="u-container-layout"></div>
              </div>
              <div
                class="u-container-style u-image u-layout-cell u-right-cell u-size-12 u-size-30-md u-image-5"
              >
                <div class="u-container-layout"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="u-clearfix u-palette-5-dark-3 u-section-6" id="sec-4f3f">
      <div
        class="u-expanded-height u-hidden-sm u-hidden-xs u-palette-1-base u-shape u-shape-rectangle u-shape-1"
      ></div>
      <div class="custom-expanded u-clearfix u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-size-28">
              <div class="u-layout-col">
                <div
                  class="u-container-style u-layout-cell u-left-cell u-size-20 u-layout-cell-1"
                >
                  <div class="u-container-layout">
                    <h5 class="u-text u-text-1">
                      {{ "VALUES.INNOVATION_TITLE" | translate }}
                    </h5>
                    <p class="u-text u-text-2">
                      {{ "VALUES.INNOVATION_DESC" | translate }}
                    </p>
                  </div>
                </div>
                <div
                  class="u-container-style u-layout-cell u-left-cell u-size-20 u-layout-cell-2"
                >
                  <div class="u-container-layout">
                    <h5 class="u-text u-text-3">
                      {{ "VALUES.INTEGRITY_TITLE" | translate }}
                    </h5>
                    <p class="u-text u-text-4">
                      {{ "VALUES.INTEGRITY_DESC" | translate }}
                    </p>
                  </div>
                </div>
                <div
                  class="u-container-style u-layout-cell u-left-cell u-size-20 u-layout-cell-3"
                >
                  <div class="u-container-layout">
                    <h5 class="u-text u-text-5">
                      {{ "VALUES.EXCELLENCE_TITLE" | translate }}
                    </h5>
                    <p class="u-text u-text-6">
                      {{ "VALUES.EXCELLENCE_DESC" | translate }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-size-32">
              <div class="u-layout-row">
                <div
                  class="u-container-style u-layout-cell u-right-cell u-size-60 u-layout-cell-4"
                >
                  <div class="u-container-layout">
                    <div
                      class="u-align-right u-border-6 u-border-white u-container-align-right u-container-style u-expanded-width-xs u-group u-group-1"
                    >
                      <div
                        class="u-container-layout u-valign-middle u-container-layout-5"
                      >
                        <h2 class="u-text u-text-7">
                          {{ "VALUES.CUSTOMER_FOCUS_TITLE" | translate }}
                        </h2>
                        <p class="u-text u-text-8">
                          {{ "VALUES.CUSTOMER_FOCUS_DESC" | translate }}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="u-clearfix u-section-7" id="carousel_cc4b">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div
          class="u-clearfix u-expanded-width u-gutter-30 u-layout-wrap u-layout-wrap-1"
        >
          <div class="u-gutter-0 u-layout">
            <div class="u-layout-row">
              <div class="u-size-30 u-size-60-md">
                <div class="u-layout-col">
                  <div class="u-size-30">
                    <div class="u-layout-row">
                      <div
                        class="u-container-style u-image u-layout-cell u-right-cell u-size-30 u-image-1"
                      >
                        <div class="u-container-layout"></div>
                      </div>
                      <div
                        class="u-container-style u-image u-layout-cell u-size-30 u-image-2"
                      >
                        <div class="u-container-layout"></div>
                      </div>
                    </div>
                  </div>
                  <div class="u-size-30">
                    <div class="u-layout-row">
                      <div
                        class="u-container-style u-image u-layout-cell u-right-cell u-size-30 u-image-3"
                      >
                        <div class="u-container-layout">
                          <div
                            class="u-shape u-shape-rectangle u-white u-shape-1"
                          ></div>
                          <div
                            class="u-palette-1-base u-shape u-shape-rectangle u-shape-2"
                          ></div>
                        </div>
                      </div>
                      <div
                        class="u-container-style u-image u-layout-cell u-size-30 u-image-4"
                      >
                        <div class="u-container-layout"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-size-30 u-size-60-md">
                <div class="u-layout-col">
                  <div
                    class="u-align-left u-container-align-left u-container-style u-layout-cell u-left-cell u-size-60 u-layout-cell-5"
                  >
                    <div
                      class="u-container-layout u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-container-layout-5"
                    >
                      <h5 class="u-text u-text-1">
                        {{ "GADGETS.TITLE" | translate }}
                      </h5>
                      <h2 class="u-text u-text-2">
                        {{ "GADGETS.SUBTITLE" | translate }}
                      </h2>
                      <p class="u-text u-text-3">
                        {{ "GADGETS.DESCRIPTION" | translate }}
                      </p>
                      <p class="u-text u-text-4">
                        {{ "GADGETS.FUTURIST_QUOTE" | translate }}
                      </p>
                      <a
                        href="http://freakier.blogspot.com/2011/01/gadgets-of-future-black-hole-cell-phone.html"
                        class="u-border-1 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-palette-1-base u-btn u-button-style u-text-black u-btn-1"
                        title="{{ 'GADGETS.BUTTON_TITLE' | translate }}"
                        target="_blank"
                      >
                        {{ "GADGETS.BUTTON_TEXT" | translate }}
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="u-clearfix u-grey-90 u-section-8" id="sec-e6d3">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div
          class="u-clearfix u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-layout-wrap u-layout-wrap-1"
        >
          <div class="u-layout">
            <div class="u-layout-col">
              <div class="u-size-30">
                <div class="u-layout-row">
                  <div
                    class="u-align-left u-container-align-left u-container-style u-layout-cell u-left-cell u-right-cell u-size-60 u-layout-cell-1"
                  >
                    <div
                      class="u-container-layout u-valign-middle u-container-layout-1"
                    >
                      <h3
                        class="u-align-left-md u-align-left-xs u-text u-text-1"
                      >
                        {{ "FUTURE_TECHNOLOGIES.TITLE" | translate }}
                      </h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-size-30">
                <div class="u-layout-row">
                  <div
                    class="u-container-style u-layout-cell u-left-cell u-size-12 u-layout-cell-2"
                  >
                    <div class="u-container-layout">
                      <div
                        class="u-align-left u-border-6 u-border-palette-1-base u-line u-line-horizontal u-line-1"
                      ></div>
                    </div>
                  </div>
                  <div
                    class="u-align-left u-container-align-left u-container-style u-layout-cell u-right-cell u-size-48 u-layout-cell-3"
                  >
                    <div
                      class="u-container-layout u-valign-top u-container-layout-3"
                    >
                      <p
                        class="u-align-left-xs u-expanded-width-xs u-text u-text-2"
                      >
                        {{ "FUTURE_TECHNOLOGIES.DESCRIPTION" | translate }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="u-palette-1-base u-shape u-shape-rectangle u-shape-1"></div>
      </div>
    </section>

    <section class="u-clearfix u-section-9" id="sec-2d43">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div
          class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1"
        >
          <div class="u-layout">
            <div class="u-layout-row">
              <div
                class="u-container-style u-layout-cell u-left-cell u-size-12 u-size-30-md u-layout-cell-1"
              >
                <div class="u-container-layout">
                  <h4 class="u-text u-text-1">
                    {{ "TECHNOLOGIES.LIST.0.TITLE" | translate }}
                  </h4>
                  <p class="u-text u-text-2">
                    {{ "TECHNOLOGIES.LIST.0.DESCRIPTION" | translate }}
                  </p>
                </div>
              </div>
              <div
                class="u-container-style u-layout-cell u-size-12 u-size-30-md u-layout-cell-2"
              >
                <div class="u-container-layout">
                  <h4 class="u-text u-text-3">
                    {{ "TECHNOLOGIES.LIST.1.TITLE" | translate }}
                  </h4>
                  <p class="u-text u-text-4">
                    {{ "TECHNOLOGIES.LIST.1.DESCRIPTION" | translate }}
                  </p>
                </div>
              </div>
              <div
                class="u-container-style u-layout-cell u-size-12 u-size-30-md u-layout-cell-3"
              >
                <div class="u-container-layout">
                  <h4 class="u-text u-text-5">
                    {{ "TECHNOLOGIES.LIST.2.TITLE" | translate }}
                  </h4>
                  <p class="u-text u-text-6">
                    {{ "TECHNOLOGIES.LIST.2.DESCRIPTION" | translate }}
                  </p>
                </div>
              </div>
              <div
                class="u-container-style u-layout-cell u-size-12 u-size-30-md u-layout-cell-4"
              >
                <div class="u-container-layout">
                  <h4 class="u-text u-text-7">
                    {{ "TECHNOLOGIES.LIST.3.TITLE" | translate }}
                  </h4>
                  <p class="u-text u-text-8">
                    {{ "TECHNOLOGIES.LIST.3.DESCRIPTION" | translate }}
                  </p>
                </div>
              </div>
              <div
                class="u-container-style u-layout-cell u-right-cell u-size-12 u-size-30-md u-layout-cell-5"
              >
                <div class="u-container-layout">
                  <h4 class="u-text u-text-9">
                    {{ "TECHNOLOGIES.LIST.4.TITLE" | translate }}
                  </h4>
                  <p class="u-text u-text-10">
                    {{ "TECHNOLOGIES.LIST.4.DESCRIPTION" | translate }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="u-clearfix u-palette-5-light-3 u-section-10" id="sec-f65e">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div
          class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1"
        >
          <div class="u-layout">
            <div class="u-layout-row">
              <div
                class="u-align-left u-container-align-left u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-1"
              >
                <div
                  class="u-container-layout u-valign-middle u-container-layout-1"
                >
                  <span
                    class="u-icon u-icon-circle u-text-palette-1-base u-icon-1"
                  >
                    <svg
                      class="u-svg-link"
                      preserveAspectRatio="xMidYMin slice"
                      viewBox="0 0 27.555 27.555"
                    >
                      <use xlink:href="#svg-4d7a"></use>
                    </svg>
                    <svg
                      class="u-svg-content"
                      viewBox="0 0 27.555 27.555"
                      x="0px"
                      y="0px"
                      id="svg-4d7a"
                      style="enable-background: new 0 0 27.555 27.555"
                    >
                      <g>
                        <path
                          d="M13.777,0C7.108,0,1.701,5.407,1.701,12.076c0,3.45,1.454,6.553,3.773,8.752L5.07,27.555l5.736-3.787c0.952,0.241,1.944,0.383,2.971,0.383c6.67,0,12.076-5.406,12.076-12.076C25.854,5.407,20.447,0,13.777,0z M9.151,10.694v2.423h-2.61v-2.009c0-0.74,0.154-1.324,0.462-1.752C7.312,8.928,7.839,8.55,8.587,8.222L9.151,9.29c-0.46,0.216-0.778,0.431-0.954,0.645c-0.176,0.214-0.274,0.467-0.294,0.759H9.151z M13.154,10.694v2.423h-2.61v-2.009c0-0.74,0.154-1.324,0.462-1.752c0.308-0.428,0.836-0.806,1.584-1.134l0.564,1.068c-0.46,0.216-0.778,0.431-0.954,0.645c-0.176,0.214-0.274,0.467-0.294,0.759H13.154z M17.01,12.68c0,0.74-0.153,1.324-0.461,1.752c-0.309,0.428-0.836,0.807-1.584,1.135L14.4,14.498c0.46-0.217,0.777-0.432,0.954-0.645c0.176-0.215,0.274-0.468,0.294-0.76H14.4V10.67h2.609V12.68z M21.014,12.68c0,0.74-0.154,1.324-0.463,1.752c-0.308,0.428-0.836,0.807-1.584,1.135l-0.563-1.068c0.46-0.217,0.778-0.432,0.954-0.645c0.176-0.215,0.273-0.468,0.294-0.76h-1.249V10.67h2.609v2.01H21.014z"
                        ></path>
                      </g>
                    </svg>
                  </span>

                  <p class="u-text u-text-palette-1-dark-1 u-text-1">
                    {{ "TESTIMONIAL.TEXT" | translate }}
                  </p>
                  <h6 class="u-text u-text-2">
                    {{ "TESTIMONIAL.AUTHOR" | translate }}
                  </h6>
                </div>
              </div>
              <div
                class="u-align-center u-container-align-center u-container-style u-image u-layout-cell u-left-cell u-size-30 u-image-1"
              >
                <div class="u-container-layout u-container-layout-2"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
