<head>
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
    rel="stylesheet"
  />
</head>

<section>
  <div class="row">
    <h2 class="section-heading">{{ "services.title" | translate }}</h2>
  </div>
  <div class="row">
    <div class="column">
      <div class="card">
        <div class="icon-wrapper">
          <i class="fas fa-globe"></i>
        </div>
        <h3>{{ "services.websiteCreation.title" | translate }}</h3>
        <p>{{ "services.websiteCreation.description" | translate }}</p>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="icon-wrapper">
          <i class="fas fa-cogs"></i>
        </div>
        <h3>{{ "services.digitalPlatformManagement.title" | translate }}</h3>
        <p>
          {{ "services.digitalPlatformManagement.description" | translate }}
        </p>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="icon-wrapper">
          <i class="fas fa-share-alt"></i>
        </div>
        <h3>{{ "services.socialMediaManagement.title" | translate }}</h3>
        <p>{{ "services.socialMediaManagement.description" | translate }}</p>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="icon-wrapper">
          <i class="fas fa-chalkboard-teacher"></i>
        </div>
        <h3>{{ "services.educationalMaterialSupply.title" | translate }}</h3>
        <p>
          {{ "services.educationalMaterialSupply.description" | translate }}
        </p>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="icon-wrapper">
          <i class="fas fa-user-graduate"></i>
        </div>
        <h3>{{ "services.teacherTraining.title" | translate }}</h3>
        <p>{{ "services.teacherTraining.description" | translate }}</p>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="icon-wrapper">
          <i class="fas fa-cloud"></i>
        </div>
        <h3>{{ "services.cloudAndDataStorageService.title" | translate }}</h3>
        <p>
          {{ "services.cloudAndDataStorageService.description" | translate }}
        </p>
      </div>
    </div>
  </div>
</section>
